<!doctype html>
<html lang="en" ng-app="toDoApp">
<head>
  <meta charset="utf-8">
  <title>title</title>
  <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="controllers.js"></script>
</head>

<body>
  <div ng-controller="ToDoController as controller">
    <p ng-repeat="onetodo in controller.todos">
      {{ onetodo.task }} : {{ onetodo.completed ? "completed" : "not completed" }}
    </p>


    <input type="text" ng-model="thetask" placeholder="Enter your task here">

    <button ng-click="controller.addToDo(thetask);">Add task</button>
    <button ng-click="controller.removeLastTask();">Remove last task</button>


  </div>
</body>
</html>